<style>
body {
  font: 12px sans-serif;
}

.jumbotron
{   
	padding-top: 1px;
	padding-bottom:5px;
	background-color:#eee;
	//background-color:red;
	//height:150px;
 }

 .sidebar
 {
 	height:100%;
	padding-top: 200px;
	text-align: center;
  	background-color:#eee; 	
 }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
  fill: steelblue;
}

// box plot
.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}

// bar chart

.y.axisRight text {
    //fill: orange;
}


.y.axisLeft text {
    //fill: steelblue;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar1 {
  //fill: steelblue;
}
.bar2 {
  //fill: orange;
}
.x.axis path {
  //display: none;
}

.label_chart {
    font-size: 14px;
}
</style>